<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

    <meta charset="utf-8">
    <title>background-image</title>
    <style>
        .shit {
        width: 50px;
        height: 50px;
        }

        html {
            height: 100%;
            background: url('{% static "backgroundmap.png" %}') ;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        table, th, td{
            border:1px solid black;
            background-color:#00FF00;
        }

        option, select{
            background-color:#00FF00;
        }
        .tabletrain {
            background-color:'green';
            border-collapse: collapse;
            background-color:#00FF00;

        }
        .tablestation{
            border-collapse: collapse;
            background-color:#00FF00;
        }
        tr:hover {
            background-color:'red';
        }
        th{
            text-align: left;
        }
    </style>
    </head>
    <script>
        function tableclick()
        {
           var tbl = document.getElementById('table')
            if (tbl.style.display == 'block')
            {
                tbl.style.display = 'none';
            }
            else if (tbl.style.display == 'none')
            {
                tbl.style.display = 'block';
            }
        }
    </script>
    <script>
       function pressmark(){
           var tblxmark = document.getElementById('tablexmark')
            if (tblxmark.style.display == 'block')
            {
                tblxmark.style.display = 'none';
            }
            else if (tblxmark.style.display == 'none')
            {
                tblxmark.style.display = 'block';
            }
        }
    </script>

    <script>
        window.onload= function(){
            var x = document.getElementsByClassName("mappoint");
            for(let station of x){
                marginTopPoint = station.style.marginTop;
                marginLeftPoint = station.style.marginLeft;
                var y = document.getElementsByClassName('trainpicture');
                for(let train of y){
                    if(Number(train.style.marginTop.slice(0,-2)) + 50 + 'px' == marginTopPoint && train.style.marginLeft == marginLeftPoint){
                        i = 0;
                        train.style.marginTop = (Number(train.style.marginTop.slice(0,-2)) - i*65) + 'px';
                        ++i;
                        };
                };
            };
        }
    </script>
    <script>
        function ajaxtest(){
            var data = {'21':'testing'}
            $.ajax({
                url: '/polls/ajax',
                type:'Post',
                data: data,
                success:function(data){
                    console.log('Work')}
                error: function (){
                    console.log('fail')}
    </script>

 <body style="margin:0px">

 {% for object in carig %}
    {% if object.type == 'train' %}
         <div style=" height: 50px; width: 50px; float: left; display: inline-block;position:absolute;background-color:'red';cursor:pointer" onclick="ajaxtest()"></div>
         <div style="background-color:'blue';width: 80px; height: 50px; margin-left:{{object.coords.0}}px; margin-top:{{object.coords.1|add:'-50'}}px;float: left;position: absolute; visibility: visible" class="trainpicture">
             <div style=" height: 50px; width: 50px; float: left; display: inline-block;position:absolute;z-index:1"><img src = '{% static "green.png" %}' class = 'shit' id = "myDiv" onclick="tableclick()"></div>
             <h5 style="position:absolute;z-index:5;margin-bottom:0x;margin-left:10px;margin-top:37px">{{object.count_of_carriages}}/{{object.middletimeof_AFK}}</h5>

             <table style = 'display: none;float: left; margin-left:50px;margin-bottom:50px;position:absolute; width: 150px; height:65px;z-index:2;'   id = 'table' cellspacing="0" class="tabletrain" >
                 <tr>
                     <td width="150px">
                         {{object.train_index}}
                     </td>
                 </tr>
                 <tr>
                     <td width="150px" >
                         <select>
                             {%for carig in object.listofcarriages%}
                                 <option>
                                     {% if carig.1 == True %}
                                         {{carig.0}} 'Full'
                                     {%endif%}
                                     {% if carig.1 == False %}
                                         {{carig.0}}
                                     {%endif%}

                                 </option>
                             {%endfor%}
                         </select>

                     </td>
                 </tr>
                 <tr>
                     <td width="150px">
                         {{object.count_of_carriages}}
                     </td>
                 </tr>
            </table>
         </div>
    {% endif %}
    {% if object.type  == 'station' %}
         <div>
             <div style=" height: 80px; width: 80px; margin-left:{{object.coords.0}}px;margin-top:{{object.coords.1}}px;position:absolute;display: inline-block;" onclick="pressmark()" class="mappoint">
                <img src="http://soundtransit3.org/Themes/st3/Content/Interactive_map_key/commuter_rail_icon.svg" height="30px", width="30px">
             </div>
             <table style = 'background-color: white; display: none; float: left;margin-left:{{object.coords.0}}px;margin-top:{{object.coords.1|add:"30"}}px;position:absolute;height:42px; padding:0px;width:180px;overflow:hidden;white-space:nowrap;' cellspacing="0" id = 'tablexmark' class="tablestation">
                     <tr>
                         <td>
                             {{object.countofcarriageAFK}}
                         </td>
                     </tr>
                     <tr>
                         <td>
                            <select>
                                  {%for ca in object.listofcarriagesonstation%}
                                      {%if ca.1 == True%}
                                            <option>
                                                {{ca.0}} 'Full' {{ca.2}}
                                            </option>
                                      {%endif%}
                                      {%if ca.1 == False%}
                                            <option>
                                                {{ca.0}} {{ca.2}}
                                            </option>
                                      {%endif%}
                                  {% endfor %}
                            </select>
                         </td>
                     </tr>
             </table>
    </div>

    {% endif %}
 {% endfor %}

 </body>
</html>


