<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

    <meta charset="utf-8">
    <title>background-image</title>
    <style>
        .shit {
        width: 50px;
        height: 50px;
        }

        html {
            background: url('{% static "ukraine_map.jpg" %}');
            background-repeat: no-repeat;
            background-size: 1900px 1000px;
            background

        }
        table, th, td{
            border:1px solid black;
            background-color:#00FF00;
        }

        option, select{
            background-color:#FFFFF;
        }
        .tabletrain {
            background-color:'green';
            border-collapse: collapse;
            background-color:#00FF00;

        }
        .tablestation{
            border-collapse: collapse;
            background-color:#00FF00;
        }
        tr:hover {
            background-color:'red';
        }
        th{
            text-align: left;
        }
    </style>
    </head>
    <script>
        function tableclick()
        {
           var tbl = document.getElementById('table')
            if (tbl.style.display == 'block')
            {
                tbl.style.display = 'none';
            }
            else if (tbl.style.display == 'none')
            {
                tbl.style.display = 'block';
            }
        }
    </script>
    <script>
       function pressmark(){
           var tblxmark = document.getElementById('tablexmark')
            if (tblxmark.style.display == 'block')
            {
                tblxmark.style.display = 'none';
            }
            else if (tblxmark.style.display == 'none')
            {
                tblxmark.style.display = 'block';
            }
        }
    </script>

    <script>
        window.onload= function(){
            var x = document.getElementsByClassName("mappoint");
            for(let station of x){
                marginTopPoint = station.style.marginTop;
                marginLeftPoint = station.style.marginLeft;
                var y = document.getElementsByClassName('trainpicture');
                for(let train of y){
                    if(Number(train.style.marginTop.slice(0,-2)) + 50 + 'px' == marginTopPoint && train.style.marginLeft == marginLeftPoint){
                        i = 0;
                        train.style.marginTop = (Number(train.style.marginTop.slice(0,-2)) - i*65) + 'px';
                        ++i;
                        };
                };
            };
        }
    </script>


 <body style="margin:0px">

 {% for train_index,values in carig.items %}
    {% if values.type == 'train' %}
         <div style="background-color:'blue';width: 80px; height: 50px; margin-left:{{values.position.0}}px; margin-top:{{values.position.1|add:'-50'}}px;float: left;position: absolute; visibility: visible" class="trainpicture">
             {% if values.color == 'green'%}
                <div style=" height: 50px; width: 50px; float: left; display: inline-block;cursor:pointer;position:absolute;z-index:1"><img src = '{% static "green.png" %}' class = 'shit' id = "myDiv" onclick="tableclick()"></div>
             {%endif%}
             {% if values.color == 'red'%}
                <div style=" height: 50px; width: 50px; float: left; display: inline-block;cursor:pointer;position:absolute;z-index:1"><img src = '{% static "red.png" %}' class = 'shit' id = "myDiv" onclick="tableclick()"></div>
             {%endif%}
             <h5 style="position:absolute;z-index:5;margin-bottom:0x;margin-left:10px;margin-top:35px">{{values.carriages|length}}/{{values.downtime}}</h5>

             <table style = 'display: none;float: left; margin-left:50px;margin-bottom:50px;position:absolute; width: 150px; height:65px;z-index:2;'   id = 'table' cellspacing="0" class="tabletrain" >
                 <tr>
                     <td width="150px">
                         {{train_index}}
                     </td>
                 </tr>
                 <tr>
                     <td width="150px" >
                         <select>
                             {%for carig,downtime in values.carriages.items%}
                                 <option>
                                     {{carig}}------{{downtime}}
                                 </option>
                             {%endfor%}
                         </select>

                     </td>
                 </tr>
                 <tr>
                     <td width="150px">
                         {{values.carriages|length}}
                     </td>
                 </tr>
            </table>
         </div>
    {% endif %}
    {% if object.type  == 'station' %}
         <div>
             <div style=" height: 80px; width: 80px; margin-left:{{object.coords.0}}px;margin-top:{{object.coords.1}}px;position:absolute;cursor:pointer;display: inline-block;" onclick="pressmark()" class="mappoint">
                <img src="http://soundtransit3.org/Themes/st3/Content/Interactive_map_key/commuter_rail_icon.svg" height="30px", width="30px">
             </div>
             <table style = 'background-color: white; display: none; float: left;margin-left:{{object.coords.0}}px;margin-top:{{object.coords.1|add:"30"}}px;position:absolute;height:42px; padding:0px;width:180px;overflow:hidden;white-space:nowrap;' cellspacing="0" id = 'tablexmark' class="tablestation">
                     <tr>
                         <td>
                             {{object.countofcarriageAFK}}
                         </td>
                     </tr>
                     <tr>
                         <td>
                            <select>
                                  {%for ca in object.listofcarriagesonstation%}
                                      {%if ca.1 == True%}
                                            <option>
                                                {{ca.0}} 'Full' {{ca.2}}
                                            </option>
                                      {%endif%}
                                      {%if ca.1 == False%}
                                            <option>
                                                {{ca.0}} {{ca.2}}
                                            </option>
                                      {%endif%}
                                  {% endfor %}
                            </select>
                         </td>
                     </tr>
             </table>
    </div>

    {% endif %}
 {% endfor %}

 </body>
</html>


